* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green1: #349334;
  --green2: #59a457;
  --balck1: #141414;
  --gray1: #c8cec7;
  --gray2: #646c6c;
  --cell-w: 34px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  position: relative;
  font-family: sans-serif;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  aspect-ratio: 9/16;
  color: white;
  background-color: black;
  padding: 25px 50px;
}

.App h1 {
  margin-top: auto;
  margin-bottom: 50px;
}

.theme-icon {
  position: relative;
  width: 25px;
  color: #349334;
  height: auto;
}

.mine-svg {
  width: 200px;
  margin-bottom: 50px;
  fill: #349334 !important;
}

.mine-svg-small {
  width: 20px;
}

.mine-info {
  display: flex;
  align-items: center;
}

.App label {
  margin-bottom: 5px;
}

.level-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: black;
  border: 1px solid #349334;
  border-radius: 50px;
  padding: 10px 10px;
  color: white;
  margin-left: 15px;
  margin-bottom: 50px;
}

.new-game {
  background-color: black;
  border: 1px solid #349334;
  border-radius: 50px;
  padding: 10px 25px;
  color: white;
  transition: all 1s ease-out;
}

.new-game:active {
  background-color: #349334;
  color: black;
  transition: all 0.1s ease-out;
}

.App p {
  margin-top: auto;
}

.nav-panel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 10px;
  margin-bottom: 25px;
}

.back-arrow {
  background-color: transparent;
  border: 1px solid #349334;
  border-radius: 50%;
  padding: 5px;
  width: 25px;
  height: 25px;
  transition: all 1s ease-out;
}

.back-arrow:active {
  background-color: #349334;
  transition: all 0.1s ease-out;
}

.clear {
  clear: both;
  content: '';
}

.game-over-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #349334;
  padding: 25px 25px 15px 25px;
  background-color: black;
  border-radius: 10px;
}

.game {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: 0 auto;
}

.game-info {
  min-height: 50px;
}

.cell-container {
  width: 340px;
}

.cell {
  background: rgb(43, 43, 43);
  border: 1px solid #414c69;
  float: left;
  line-height: 34px;
  height: 34px;
  text-align: center;
  width: var(--cell-w);
  color: white;
  cursor: pointer;
}

.cell:focus {
  outline: none;
}

.hidden {
  background: #7e7b92;
  border: none;
}

.is-flag,
.is-mine {
  color: #fc543c;
}
